# Reference cells and variables in Snowflake Notebooks
Snowflake Notebooks enable you to reference the results of previous cells in your notebook. This allows you to seamlessly switch between working in Python and SQL, reusing the results and variables.

## Referencing SQL output in Python cells

We can access the SQL results directly in Python and convert the results to a Snowpark or pandas dataframe.

The cell reference is based on the cell name. Note that if you change the cell name, you will also need to update the subsequent cell reference accordingly.


### Example 1: Access SQL results as Snowpark or Pandas Dataframes

In [ ]:
---> set the Role
USE ROLE SNOWFLAKE_LEARNING_ROLE;
---> set the Warehouse
USE WAREHOUSE SNOWFLAKE_LEARNING_WH;
---> set the Database
USE DATABASE SNOWFLAKE_LEARNING_DB;
---> set the Schema
SET user_name = current_user();
SET schema_name = CONCAT($user_name, '_WORKING_WITH_REFERENCE_CELLS_AND_VARIABLES');
USE SCHEMA IDENTIFIER($schema_name);
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL
SELECT 'SUNDAY', 0.9;

In [ ]:
snowpark_df = cell3.to_df()
snowpark_df.show()

In [ ]:
pandas_df = cell3.to_pandas()
print(pandas_df)

## Referencing variables in SQL code

You can use the Jinja syntax `{{..}}` to reference Python variables within your SQL queries as follows.

### Example 2: Using Python variable value in a SQL query

In [ ]:
-- Create a dataset of countries
CREATE OR REPLACE TABLE countries (
    country_name VARCHAR(100)
);

INSERT INTO countries (country_name) VALUES
    ('USA'),('Canada'),('United Kingdom'),('Germany'),('France'),
    ('Australia'),('Japan'),('China'),('India'),('Brazil');

In [ ]:
c = "'USA'"

In [ ]:
-- Filter to record where country name is equal to our Python variable
SELECT * FROM countries WHERE COUNTRY_NAME = {{c}}

### Example 3: Referencing Notebook Cell in a SQL query

In [ ]:
-- Create dataset with columns PRODUCT_ID, RATING, PRICE
SELECT CONCAT('SNOW-',UNIFORM(1000,9999, RANDOM())) AS PRODUCT_ID,
       ABS(NORMAL(5, 3, RANDOM())) AS RATING,
       ABS(NORMAL(750, 200::FLOAT, RANDOM())) AS PRICE
FROM TABLE(GENERATOR(ROWCOUNT => 100));

In [ ]:
-- Filter to products where price is greater than 500
SELECT * FROM {{cell11}} where PRICE > 500